@font-face {
    font-family: "CeraPro Regular";
    src: url("../CeraPro/CeraPro-Regular.ttf");
}

@font-face {
    font-family: "CeraPro Medium";
    src: url("../CeraPro/CeraPro-Medium.ttf");
}
@font-face {
    font-family: "CeraPro Bold";
    src: url("../CeraPro/CeraPro-Bold.ttf");
}
@font-face {
    font-family: "CeraPro Black";
    src: url("../CeraPro/CeraPro-Black.ttf");
}
@font-face {
    font-family: "CeraPro Light";
    src: url("../CeraPro/CeraPro-Light.ttf");
}

button{
    cursor: pointer;
}
.container{
    padding: 30px 120px 52px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid  rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}
.menu{
    display: flex;
    gap: 50px;
}
.menuItems{
    font-family: "CeraPro Regular", sans-serif;
    border-bottom: 3px solid transparent;
    padding: 8px 0 25px;
}
.menuItems:hover{
    border-color: #46A358;
} 
.menuItems:hover .menuItem{
    text-shadow: 0 0 1px currentColor;
}
.activemenuItem{
    position: relative;
}
.menuItemlist{
    min-width: 188px;
    position: absolute;
    top: 100%;
    left: -57px; 
    z-index: 1;
    padding-top: 15px;
    display: none; 
}
.menuItemsublist{
    padding: 8px 14px;
    color: #3D3D3D;
    font-family: "CeraPro Regular",sans-serif;
    font-size: 16px;
    background-color: #EDF6EE;
}
.activesublist{
    position: relative;
}
.activesublist svg{
    position: absolute;
    top: 13px;
    right: 14px;
}
.svgwhitePriming{
    display: none;
}
.svgblackPriming{
    display: block;
}
.activemenuItem:hover  .menuItemlist{
    display: block;
}
.activesublist:hover{
    background: #1A712A;
}
.activesublist:hover .menuItemsubPriming{
    color: #FFF;
    text-shadow: 0 0 1px currentColor;
}
.activesublist:hover .svgblackPriming{
    display: none;
}
.activesublist:hover .svgwhitePriming{
    display: block;
}
.menuItemlist2{
    position: absolute;
    top: -300%;
    left: 100%;
    z-index: 1;
    min-width: 178px;
    padding-left: 2px;
    display: none;
}
.menuItemsublist2{
    background-color: #EDF6EE;
    padding: 8px 14px;
}
.activesublist:hover .menuItemlist2{
    display: block;
}

.headerbtn{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    color: #fff;
    font-family: "CeraPro Medium", sans-serif;
}
.main{
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}
.subtitle{
    color: #3D3D3D;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    line-height: 16px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.title{
    color: #3D3D3D;
    font-family: "CeraPro Black", sans-serif;
    font-size: 70px;
    line-height: 70px; 
    text-transform: uppercase;
    margin-bottom: 5px;
}
.planet{
    display: inline-block;
    color: #46A358;
    font-family: "CeraPro Black", sans-serif;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
}
.description{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
}
.mainbtn{
    color: #FFF;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 16px;
    line-height: 20px; 
    text-transform: uppercase;
    border-radius: 6px;
    background: #46A358;
    padding: 11px 27px;
}
.image-wrapper{
    position: relative;
    display: inline-block;
}
.plantmain{
    width: 518px;
} 
.smallplantmain{
    width: 135px;
    position: absolute;
    bottom: 42px;
    left: 55px;
}
.divcontent{
    padding: 68px 40px 85px;
}



.container2{
    display: flex;
    gap: 50px;
    margin-bottom: 200px;
}
.sidebar{
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebartop{
    padding: 14px 18px;
}
.categorieslist{
    padding: 0 12px;
}

.categoriesItem{
    padding: 10px 0px;
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    
}
.active2{
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 15px;
     
}
.categories{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px; 
}
.supersale{
    width: 310px;
    height: 470px;
}
.content{
    flex: 1;
}
.topbar{
    display: flex;
    justify-content: space-between;
    
}
.tabs{
    display: flex;
    gap: 37px;
    
}
.topbarItem{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    line-height: 16px; 
    border-bottom: 2px solid transparent;
    padding: 7px 0;
}
.allplants{
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 15px;
    line-height: 16px; 
    border-color: #46A358;
}
.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.shortby, .sortingbtn{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 40px;
    margin: 40px 0 90px;
}
.product{
    border-top: 1px solid transparent;
}
.product:hover{
    border-color: #46A358;
}
.product img{
    background: #FBFBFB;
    height: 250px;
}
.errorcard{
    border-top: 1px solid transparent;
    min-width: 250px;
}
.errorcard:hover{
    border-color: #46A358;
}
.errorplant{
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
}
.errorimgplant{
    height: 250px;
}
.plantproducts{
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
}
.btnproducts{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 7px;
}
.btnproductsItem{
    padding: 7px;
    border-radius: 4px;
    background: #FFF;
    max-height: 33.98px;
    display: none;
}
.svgbtnpdctsItem{
    fill: #3D3D3D;
}
.btnproductsItem:hover .svgbtnpdctsItem{
    fill: #46A358;
}
.errorplant:hover  .btnproductsItem{
    display: block;
}
.plantproducts:hover  .btnproductsItem{
    display: block;
}
.discountproduct{
    padding: 6px 8px;
    background-color: #46A358;
    color: #FFF;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 14px;
}
.plantname{
    color: #3D3D3D;
    font-family: "CeraPro Redular", sans-serif;
    font-size: 16px;
    line-height: 16px; 
    padding: 6px 0;
}
.price{
    display: inline-block;
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px; 
}
.pagination{
    display: flex;
    justify-content: end;
    gap: 10px;
    
}
.btnpgn{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 10px 14px;
    color: #3D3D3D;
    font-family: "CeraPro Light", sans-serif;
    font-size: 18px;
    line-height: 16px; 
}
.activebtn{
    background: #46A358;
    color: #FFF;
    min-width: 39px;
}
.iconright{
    padding: 10px 14px;
}
.promo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
}
.promocontent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBFBFB;
}
.promoimg{
    position: relative;
    top: -40px;
}
.promotext{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: end;
    padding: 37px 30px 46px;
}
.promotext h3{
    color: #3D3D3D;
    text-align: right;
    font-family: "CeraPro Black", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.promotext p{
    color: #727272;
    text-align: right;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
}
.findmore{
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    padding: 11px 28px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.svgfindmore{
    position: relative;
    bottom: -2px;
}

.bloghead{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-bottom: 35px;
}
.bloghead > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 30px;
}
.bloghead > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.cardsblog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.blogcard{
    background: #FBFBFB;
}
.blogcardtxt{
    padding: 0 15px;
}
.carddate{
    color: #46A358;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    margin-bottom: 4px;  
}
.blogcardtxt > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 20px;
    margin-bottom: 4px;
}
.cardinfo{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    margin-bottom: 9px;
}
.blogbtn{
    color: #3D3D3D;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.activeblogbtn{
    color: #46A358;
}
.blogsvg{
    position: relative;
    bottom: -2px;
}

.footer{
    background: #FBFBFB;
}
.footerhead{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.headelements{
    display: flex;
    align-items: center;
    gap: 30px;
}
.headelement1{
    border-right: rgba(70, 163, 88, 0.10) solid 1px;
    padding-right: 30px;
}
.headelement1 > h3{
    margin: 15px 0 10px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 17px;
}
.headelement1 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.headelement2{
    padding-right: 30px;
    border-right: rgba(70, 163, 88, 0.10) solid 1px;
}
.headelement2 > h3{
    margin: 15px 0 10px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 17px;
}
.headelement2 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.headelement3 > h3{
    margin: 15px 0 10px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 17px;
}
.headelement3 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.headelements2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headelements2 > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
}
.headelements2 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 13px;
    line-height: 22px; 
}
.joinnews{
    position: relative;
}
.joinnews > input{
    padding: 12px 171px 12px 11px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    color: #ACACAC;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.joinnews > button{
    border-radius: 0 6px 6px 0;
    background: #46A358;
    color: #FFF;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    padding: 0 26px;
    min-height: 41.6px;
    position: absolute;
    right: 0;
}

.footermiddle{
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middlecontent{
    display: flex;
    align-items: center;
    gap: 9px;
    line-height: 22px;
}
.middlecontent > a{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.footerend{
    padding: 33px 155px 29px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}
.endinfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.endinfo > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px;
}
.endcontent{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.endcontent a{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 30px;
}
.endsocial{
    display: flex;
    gap: 10px;
}
.endmedia h3:first-of-type{
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 18px;
    margin-bottom: 20px;
}
.endsocial{
    margin-bottom: 33px;
}
.endmedia h3:nth-of-type(2){
    margin-bottom: 13px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
}
.copyright{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin-top: 6px;
    text-align: center;
}