@font-face {
    font-family: "CeraPro Regular";
    src: url("../CeraPro/CeraPro-Regular.ttf");
}

@font-face {
    font-family: "CeraPro Medium";
    src: url("../CeraPro/CeraPro-Medium.ttf");
}
@font-face {
    font-family: "CeraPro Bold";
    src: url("../CeraPro/CeraPro-Bold.ttf");
}
@font-face {
    font-family: "CeraPro Black";
    src: url("../CeraPro/CeraPro-Black.ttf");
}
@font-face {
    font-family: "CeraPro Light";
    src: url("../CeraPro/CeraPro-Light.ttf");
}

button{
    cursor: pointer;
}
.boss{
    padding: 30px 120px 52px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid  rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}
.menu{
    display: flex;
    gap: 50px;
}
.menuItems{
    font-family: "CeraPro Regular", sans-serif;
    border-bottom: 3px solid transparent;
    padding: 8px 0 25px;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.menuItems:hover{
    border-color: #46A358;
} 
.menuItems:hover .menuItem{
    text-shadow: 0 0 1px currentColor;
}
.activemenuItem{
    position: relative;
}
.menuItemlist{
    min-width: 188px;
    position: absolute;
    top: 100%;
    left: -57px; 
    z-index: 1;
    padding-top: 15px;
    display: none; 
}
.menuItemsublist{
    padding: 8px 14px;
    color: #3D3D3D;
    font-family: "CeraPro Regular",sans-serif;
    font-size: 16px;
    background-color: #EDF6EE;
}
.activesublist{
    position: relative;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.menuItemsubPriming{
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.activesublist svg{
    position: absolute;
    top: 13px;
    right: 14px;
}
.svgwhitePriming{
    opacity: 0;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.svgblackPriming{
    opacity: 1;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.activemenuItem:hover  .menuItemlist{
    display: block;
}
.activesublist:hover{
    background: #1A712A;
}
.activesublist:hover .menuItemsubPriming{
    color: #FFF;
    text-shadow: 0 0 1px currentColor;
}
.activesublist:hover .svgblackPriming{
    opacity: 0;
}
.activesublist:hover .svgwhitePriming{
    opacity: 1;
}
.menuItemlist2{
    position: absolute;
    top: -300%;
    left: 100%;
    z-index: 1;
    min-width: 178px;
    padding-left: 2px;
    display: none;
}
.menuItemsublist2{
    background-color: #EDF6EE;
    padding: 8px 14px;
}
.activesublist:hover .menuItemlist2{
    display: block;
}
.headerbtns{
    display: flex;
    gap: 30px;
}
.search, .basket{
    display: flex;
    align-items: center;
}
.basketbtn{
    position: relative;
}
.countorder{
    border-radius: 50%;
    border: 2px solid #FFF;
    background-color: #46A358;
    min-width: 16px;
    color: #FFF;
    font-family: "CeraPro Medium",sans-serif;
    font-size: 10px;
    position: absolute;
    bottom: 12px;
    right: -6px;
}


.headerbtn{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 17px;
    border-radius: 6px;
    background: #46A358;
    color: #fff;
    font-family: "CeraPro Medium", sans-serif;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.headerbtn:hover{
    background-color: #3c8d4d;
}
.main{
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}
.subtitle{
    color: #3D3D3D;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    line-height: 16px; 
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.title{
    color: #3D3D3D;
    font-family: "CeraPro Black", sans-serif;
    font-size: 70px;
    line-height: 70px; 
    text-transform: uppercase;
    margin-bottom: 5px;
}
.planet{
    display: inline-block;
    color: #46A358;
    font-family: "CeraPro Black", sans-serif;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
}
.description{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
}
.mainbtn{
    color: #FFF;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 16px;
    line-height: 20px; 
    text-transform: uppercase;
    border-radius: 6px;
    background: #46A358;
    padding: 11px 27px;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.mainbtn:hover{
    background-color: #3c8d4d;
}
.image-wrapper{
    position: relative;
    display: inline-block;
}
.plantmain{
    width: 518px;
} 
.smallplantmain{
    width: 135px;
    position: absolute;
    bottom: 42px;
    left: 55px;
}
.divcontent{
    padding: 68px 40px 85px;
}



.container2{
    display: flex;
    gap: 50px;
    margin-bottom: 200px;
}
.sidebar{
    background: #FBFBFB;
    height: fit-content;
}
.sidebartop{
    padding: 14px 24px 19px 18px;
}
.categorieslist{
    padding-left: 12px;
}
.categoriesItem{
    padding: 10px 0px;
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.categoriesItem > span{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
}
.active2{
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 15px;
}
.active2 span{
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 15px;
}
.categories{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 10px;
}
.price-filter h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px; 
    margin-top: 36px;
}
.price-filtercontent{
    padding-left: 12px;
}
.container{
  margin-top: 29px;
}

.slider-labels {
  margin-top: 10px;
}

.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background: #46A358;
  border: 3px solid #FFF;
}

/* Styling;
 */
.noUi-background {
  background: #bfd8bd;
}

.noUi-connect {
  background: #46A358;
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}



/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}
.row > p{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    line-height: 16px; 
    margin-top: 21px;
}
#slider-range-value1,
#slider-range-value2{
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 15px;
    line-height: 16px;
}
.tab{
    color: #46A358;
}
.price-filtercontent > button{
    padding: 8px 26px;
    margin-top: 16px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 16px;
    line-height: 20px; 
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.price-filtercontent > button:hover{
    background-color: #3c8d4d;
}
.sidebarend > h3{
    margin-top: 46px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 10px;
}
.sidebarendlist{
    padding-left: 12px;
}
.supersale{
    width: 310px;
    height: 470px;
}
.content{
    flex: 1;
}
.topbar{
    display: flex;
    justify-content: space-between;
    
}
.tabs{
    display: flex;
    gap: 37px;
    
}
.topbarItem{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
    line-height: 16px; 
    border-bottom: 2px solid transparent;
    padding: 7px 0;
}
.allplants{
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 15px;
    line-height: 16px; 
    border-color: #46A358;
}
.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.shortby, .sortingbtn{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 15px;
}
.sortingbtn:hover{
    text-shadow: 0 0 1px currentColor;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 70px 40px;
    margin: 40px 0 90px;
}
.product{
    border-top: 1px solid transparent;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.product:hover{
    border-color: #46A358;
}
.product img{
    background: #FBFBFB;
    height: 250px;
}
.errorcard{
    border-top: 1px solid transparent;
    min-width: 250px;
}
.errorcard:hover{
    border-color: #46A358;
}
.errorplant{
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
}
.errorimgplant{
    height: 250px;
}
.plantproducts{
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 300px;
}
.btnproducts{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 7px;
}
.btnproductsItem{
    padding: 7px;
    border-radius: 4px;
    background: #FFF;
    max-height: 33.98px;
    opacity: 0;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.svgbtnpdctsItem{
    fill: #3D3D3D;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.btnproductsItem:hover .svgbtnpdctsItem{
    fill: #46A358;
}
.errorplant:hover  .btnproductsItem{
    opacity: 1;
}
.plantproducts:hover  .btnproductsItem{
    opacity: 1;
}
.discountproduct{
    padding: 6px 8px;
    background-color: #46A358;
    color: #FFF;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 14px;
}
.plantname{
    color: #3D3D3D;
    font-family: "CeraPro Redular", sans-serif;
    font-size: 16px;
    line-height: 16px; 
    padding: 6px 0;
}
.price{
    display: inline-block;
    color: #46A358;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px; 
}
.pagination{
    display: flex;
    justify-content: end;
    gap: 10px;
    
}
.btnpgn{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 10px 14px;
    color: #3D3D3D;
    font-family: "CeraPro Light", sans-serif;
    font-size: 18px;
    line-height: 16px; 
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.btnpgn:hover{
    border-color:#c2c1c1 ;
}
.activebtn{
    background: #46A358;
    color: #FFF;
    min-width: 39px;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.activebtn:hover{
    background-color: #3c8d4d;
}
.iconright{
    padding: 10px 14px;
}
.promo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
}
.promocontent{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FBFBFB;
}
.promoimg{
    position: relative;
    top: -40px;
}
.promotext{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    text-align: end;
    padding: 37px 30px 46px;
}
.promotext h3{
    color: #3D3D3D;
    text-align: right;
    font-family: "CeraPro Black", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.promotext p{
    color: #727272;
    text-align: right;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    margin-bottom: 25px;
}
.findmore{
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    border-radius: 6px;
    background: #46A358;
    color: #FFF;
    padding: 11px 28px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.findmore:hover{
    background-color: #3c8d4d;
}
.svgfindmore{
    position: relative;
    bottom: -2px;
}

.bloghead{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-bottom: 35px;
}
.bloghead > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 30px;
}
.bloghead > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.cardsblog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.blogcard{
    background: #FBFBFB;
}
.blogcardtxt{
    padding: 0 15px;
}
.carddate{
    color: #46A358;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    margin-bottom: 4px;  
}
.blogcardtxt > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 20px;
    margin-bottom: 4px;
}
.cardinfo{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    margin-bottom: 9px;
}
.blogbtn{
    color: #3D3D3D;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
    gap: 3px;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.blogbtn:hover{
    color: #46A358;
}
.blogsvg{
    position: relative;
    bottom: -2px;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    fill: #3D3D3D;
}
.blogbtn:hover > .blogsvg{
    fill: #46A358;
}

.footer{
    background: #FBFBFB;
}
.footerhead{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.headelements{
    display: flex;
    align-items: center;
    gap: 30px;
}
.headelement1{
    border-right: rgba(70, 163, 88, 0.10) solid 1px;
    padding-right: 30px;
}
.headelement1 > h3{
    margin: 15px 0 10px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 17px;
}
.headelement1 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.headelement2{
    padding-right: 30px;
    border-right: rgba(70, 163, 88, 0.10) solid 1px;
}
.headelement2 > h3{
    margin: 15px 0 10px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 17px;
}
.headelement2 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.headelement3 > h3{
    margin: 15px 0 10px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 17px;
}
.headelement3 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 22px;
}
.headelements2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headelements2 > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
}
.headelements2 > p{
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 13px;
    line-height: 22px; 
}
.joinnews{
    position: relative;
}
.joinnews > input{
    padding: 12px 171px 12px 11px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    color: #ACACAC;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.joinnews > button{
    border-radius: 0 6px 6px 0;
    background: #46A358;
    color: #FFF;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    padding: 0 26px;
    min-height: 41.6px;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    position: absolute;
    right: 0;
}
.joinnews > button:hover{
    background-color: #3c8d4d;
}

.footermiddle{
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middlecontent{
    display: flex;
    align-items: center;
    gap: 9px;
    line-height: 22px;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.middlecontent:hover{
    text-shadow: 0 0 1px currentColor;
}
.middlecontent > a{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
}
.footerend{
    padding: 33px 155px 29px 25px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(70, 163, 88, 0.20);
}
.endinfo{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.endinfo > h3{
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
    line-height: 16px;
}
.endcontent{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.endcontent > li{
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.endcontent > li:hover{
    text-shadow: 0 0 1px currentColor;
}
.endcontent a{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 30px;
}
.endsocial{
    display: flex;
    gap: 10px;
}
.endmedia h3:first-of-type{
    color: #3D3D3D;
    font-family: "CeraPro Bold";
    font-size: 18px;
    margin-bottom: 20px;
}
.endsocial{
    margin-bottom: 33px;
}
.endmedia h3:nth-of-type(2){
    margin-bottom: 13px;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 18px;
}
.copyright{
    color: #3D3D3D;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 30px;
    margin-top: 6px;
    text-align: center;
}